<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <script src="./assets/js/core/jquery.min.js"></script>
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="./assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        SmartBeta Demo
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- CSS Files -->
    <link href="./assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet"/>
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="./assets/demo/demo.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link href="./stylesheets/customer.css" rel="stylesheet"/>
    <link href="./stylesheets/ihover.css" rel="stylesheet"/>
</head>

<body class="hm-gradient">
<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">

        <div class="logo">
            <a href="" class="simple-text logo-normal">
                第四組
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="material-icons">dashboard</i>
                        <p>SmartBeta指數</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/performance">
                        <i class="material-icons">library_books</i>
                        <p>指數績效比較</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/implementation">
                        <i class="material-icons">content_paste</i>
                        <p>SmartBeta 指數實作</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/customer">
                        <i class="material-icons">person</i>
                        <p>目標客群</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/process">
                        <i class="material-icons">bubble_chart</i>
                        <p>編制流程</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/constituent">
                        <i class="material-icons">language</i>
                        <p>成分股比例</p>
                    </a>
                </li>
                <li class="nav-item active-pro ">
                    <a class="nav-link">
                        <i class="material-icons">unarchive</i>
                        <p>聯繫我們</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="ih-item square effect9 left_to_right" style="margin-left: 150px;margin-top: 150px"><a href="#">
                                <div class="img"><img src="/images/dollar1.jpg" alt="img"></div>
                                <div class="info">
                                    <div class="info-back">
                                        <h3>高股息</h3>
                                        <p>存股族</p>
                                        <p>穩定收入</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- colored -->
                    <div class="ih-item square colored effect14 top_to_bottom" style="margin-left: 200px;margin-top: 150px"><a href="#">
                            <div class="img"><img src="images/stock.png" alt="img"></div>
                            <div class="info">
                                <h3>低波動</h3>
                                <p>風險趨避</p>
                                <p>學生族群</p>
                            </div></a>
                    </div>
                    <!-- end colored -->
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>

</html>
