<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <script src="./assets/js/core/jquery.min.js"></script>
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="./assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        SmartBeta Demo
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- CSS Files -->
    <link href="./assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet"/>
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="./assets/demo/demo.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link href="./stylesheets/implementation.css" rel="stylesheet"/>
</head>

<body class="hm-gradient" onload="displaychart();">
<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">

        <div class="logo">
            <a href="" class="simple-text logo-normal">
                第四組
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="material-icons">dashboard</i>
                        <p>SmartBeta指數</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/performance">
                        <i class="material-icons">person</i>
                        <p>指數績效比較</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/implementation">
                        <i class="material-icons">content_paste</i>
                        <p>ETF績效比較</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer">
                        <i class="material-icons">library_books</i>
                        <p>目標客群</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/process">
                        <i class="material-icons">bubble_chart</i>
                        <p>編制流程</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/constituent">
                        <i class="material-icons">location_ons</i>
                        <p>成分股比例</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="./notifications.html">
                        <i class="material-icons">notifications</i>
                        <p>Notifications</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="./rtl.html">
                        <i class="material-icons">language</i>
                        <p>RTL Support</p>
                    </a>
                </li>
                <li class="nav-item active-pro ">
                    <a class="nav-link">
                        <i class="material-icons">unarchive</i>
                        <p>聯繫我們</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="carousel-container">
                        <div class="carousel my-carousel carousel--translate"><input class="carousel__activator" type="radio" name="carousel" id="F" checked="checked" /><input class="carousel__activator" type="radio" name="carousel" id="G" /><input class="carousel__activator" type="radio" name="carousel" id="H" /><input class="carousel__activator"
                                                                                                                                                                                                                                                                                                                                  type="radio" name="carousel" id="I" />
                            <div class="carousel__controls"><label class="carousel__control carousel__control--backward" for="I"></label><label class="carousel__control carousel__control--forward" for="G"></label></div>
                            <div class="carousel__controls"><label class="carousel__control carousel__control--backward" for="F"></label><label class="carousel__control carousel__control--forward" for="H"></label></div>
                            <div class="carousel__controls"><label class="carousel__control carousel__control--backward" for="G"></label><label class="carousel__control carousel__control--forward" for="I"></label></div>
                            <div class="carousel__controls"><label class="carousel__control carousel__control--backward" for="H"></label><label class="carousel__control carousel__control--forward" for="F"></label></div>
                            <div class="carousel__track">
                                <li class="carousel__slide">
                                    <canvas id="bar-chart-1" style="width: 100%;height: 100%"></canvas>
                                </li>
                                <li class="carousel__slide">
                                    <canvas id="bar-chart-2" style="width: 100%;height: 100%"></canvas>
                                </li>
                                <li class="carousel__slide">
                                    <canvas id="bar-chart-3" style="width: 100%;height: 100%"></canvas>
                                </li>
                                <li class="carousel__slide">
                                    <canvas id="bar-chart-4" style="width: 100%;height: 100%"></canvas>
                                </li>
                            </div>
                            <div class="carousel__indicators"><label class="carousel__indicator" for="F"></label><label class="carousel__indicator" for="G"></label><label class="carousel__indicator" for="H"></label><label class="carousel__indicator" for="I"></label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="./javascripts/performance.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    function displaychart() {
        $(function () {
            $.ajax({
                type: 'GET',
                url: '/performanceData',
                success: function (data) {
                    const performance = data.performance;
                    new Chart(document.getElementById("bar-chart-1"), {
                        type: 'horizontalBar',
                        data: {
                            labels: [performance[2][0],performance[0][0], performance[1][0]],
                            datasets: [
                                {
                                    label: "年化報酬率",
                                    backgroundColor: ["#9c27b0","#3281ee", "#23d5b8"],
                                    data: [performance[2][1],performance[0][1], performance[1][1] ]
                                }
                            ]
                        },
                        options: {
                            legend: { display: false },
                            title: {
                                display: true,
                                text: '年化報酬率績效比較',
                                fontSize: 40
                            }
                        }
                    });

                    new Chart(document.getElementById("bar-chart-2"), {
                        type: 'horizontalBar',
                        data: {
                            labels: [performance[2][0],performance[0][0], performance[1][0]],
                            datasets: [
                                {
                                    label: "年化標準差",
                                    backgroundColor: ["#9c27b0","#3281ee", "#23d5b8"],
                                    data: [performance[2][2],performance[0][2], performance[1][2] ]
                                }
                            ]
                        },
                        options: {
                            legend: { display: false },
                            title: {
                                display: true,
                                text: '年化標準差比較',
                                fontSize: 40
                            }
                        }
                    });

                    new Chart(document.getElementById("bar-chart-3"), {
                        type: 'horizontalBar',
                        data: {
                            labels: [performance[2][0],performance[0][0], performance[1][0]],
                            datasets: [
                                {
                                    label: "Sharpe Ratio",
                                    backgroundColor: ["#9c27b0","#3281ee", "#23d5b8"],
                                    data: [performance[2][3],performance[0][3], performance[1][3] ]
                                }
                            ]
                        },
                        options: {
                            legend: { display: false },
                            title: {
                                display: true,
                                text: 'Sharpe Ratio 比較',
                                fontSize: 40
                            }
                        }
                    });

                    new Chart(document.getElementById("bar-chart-4"), {
                        type: 'horizontalBar',
                        data: {
                            labels: [performance[2][0],performance[0][0], performance[1][0]],
                            datasets: [
                                {
                                    label: "Treynor Ratio",
                                    backgroundColor: ["#9c27b0","#3281ee", "#23d5b8"],
                                    data: [performance[2][4],performance[0][4], performance[1][4] ]
                                }
                            ]
                        },
                        options: {
                            legend: { display: false },
                            title: {
                                display: true,
                                text: 'Treynor Ratio 比較',
                                fontSize: 40
                            }
                        }
                    });
                }

            });
        });
    }
</script>
<script>
    function getPerformance() {
        document.getElementById("options-view-button").click();
        const date = document.getElementsByName("date");
        for (let i = 0; i < date.length; i++) {
            if (date[i].checked) {
                document.getElementById("range").value = date[i].value;
            }
        }
        document.getElementById("app-cover").submit();
    }
</script>
</body>

</html>
